.items {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .items img {
    width: 100%;
  }
  
  .items {
    padding: 40px;
  }
  
  button {
    font-size: 20px;
    padding: 10px;
  }
  
  header {
    background-color: pink;
    height: 70px;
    padding-top: 20px;
  }